<p><a href="https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Da
  tasets/ddi_message_app_data.csv">Here</a> is a table schema for a P2P messaging application. The table contains send/receive message data for the application's users. The structure is as follows:</p>
<p>Table name: user_messaging</p>     
<table border="1" class="dataframe" style="text-align:left;margin:1em auto">
  <tbody>
    <tr><td>date</td></tr>
    <tr><td>sender_id (#id of the message sender)</td></tr>
    <tr><td>receiver_id (#id of the message receiver)</td></tr>    
  </tbody>
</table>
<br>
<p><b>Question:</b> What fraction of active users sent messages to at least 9 unique people on March 1, 2018? You should be able to write complete code to answer this, given just the schema above. Solution will be provided in Python for premium users.</p>

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/ddi_message_app_data.csv')
df.head()

         date  sender_id  receiver_id
0  2018-03-01          5            2
1  2018-03-01          8            6
2  2018-03-01          1            2
3  2018-03-01          4            8
4  2018-03-01          2            7

In [3]:
df.shape

(999, 3)

In [4]:
#create new dataframe for March 1, 2018
df2 = df[df.date == "2018-03-01"]

#create dataframe of just sender and receiver
sender_receiver = df2[["sender_id", "receiver_id"]]

#group by sender_id, count unique # of receivers 
sender_receiver_pivot = sender_receiver.groupby('sender_id')['receiver_id'].nunique()
sender_receiver_pivot.head(10)

sender_id
1     9
2     9
3     9
4     9
5     9
6     9
7     8
8     9
9     9
10    9
Name: receiver_id, dtype: int64

In [5]:
#grab users that sent messages to more than 9 people
fraction_users = (sender_receiver_pivot >= 9).mean()
fraction_users

     sender_id  receiver_id
0            5            2
1            8            6
2            1            2
3            4            8
4            2            7
..         ...          ...
454         10            7
455          4            6
456          1            2
457          3            2
458          9            2

[459 rows x 2 columns]