In [1]:
import pandas as pd
import os
import glob
import numpy as np
import regex as re

# Combined The csv's Into One File

In [4]:
#Concat all of the csv's into one file
#Based on code I Googled
os.chdir("../data")
results = pd.DataFrame([])
 
for counter, file in enumerate(glob.glob("*Jokes*")):
    namedf = pd.read_csv(file, skiprows=0, usecols=[0,1,2,3,4,5])
    results = results.append(namedf)
    print(file)
 
results.to_csv('../data/concat.csv',index=False)

DadJokes10.csv
Jokes10.csv
Jokes11.csv
DadJokes11.csv
DadJokes13.csv
Jokes13.csv
Jokes12.csv
DadJokes12.csv
DadJokes16.csv
Jokes16.csv
Jokes17.csv
DadJokes17.csv
DadJokes15.csv
Jokes15.csv
Jokes14.csv
DadJokes14.csv
Jokes2.csv
DadJokes2.csv
DadJokes3.csv
Jokes3.csv
Jokes.csv
Jokes4.csv
DadJokes4.csv
DadJokes5.csv
Jokes5.csv
Jokes7.csv
DadJokes7.csv
DadJokes6.csv
Jokes6.csv
Jokes8.csv
DadJokes8.csv
DadJokes9.csv
Jokes9.csv
DadJokes.csv

# Read In New Combined CSV's Into Dataframes

In [5]:
#Assign csv to dataframe
df_all = pd.read_csv('../data/concat.csv')

In [6]:
#Examined the head of the dataframe
df_all.head()

,id,num_comments,subreddit,text,time_created,title
0,t3_azu6ko,495,Jokes,"One day, a wife came home early and found her ...",1552315082,A wife came home early and...
1,t3_bvxeu4,30,Jokes,One is a superhero and the other is a command.,1559482488,What's the difference between Iron Man and Iro...
2,t3_c2q2v7,20,Jokes,As the days go by he gets hornier and hornier ...,1560996486,"A guy gets lost in the desert, he has food, wa..."
3,t3_c3jq7l,9,Jokes,There once was a man named John. John has thre...,1561168425,This is the story of Nate the Snake and John.
4,t3_c617yr,137,dadjokes,It's thinly sliced cabbage,1561611223,"If you've heard of Murphy's law, which is that..."

In [7]:
#Print total posts
print('Total Combined Posts', len(df_all))

Total Combined Posts 35829

In [8]:
#Remove duplicate posts
df_all = df_all.iloc[df_all[["id"]].drop_duplicates().index]

In [9]:
#Print total post after duplicates are removed
print('Total Combined Posts', len(df_all))

Total Combined Posts 4157

In [10]:
#Ran to see if there are nulls and how each column is classified
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4157 entries, 0 to 35828
Data columns (total 6 columns):
id              4157 non-null object
num_comments    4157 non-null int64
subreddit       4157 non-null object
text            4062 non-null object
time_created    4157 non-null int64
title           4157 non-null object
dtypes: int64(2), object(4)
memory usage: 227.3+ KB

In [11]:
#Replaced nulls with blanks
df_all.replace(np.nan, "", inplace=True)

In [12]:
#Reran to see if nulls were removed
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4157 entries, 0 to 35828
Data columns (total 6 columns):
id              4157 non-null object
num_comments    4157 non-null int64
subreddit       4157 non-null object
text            4157 non-null object
time_created    4157 non-null int64
title           4157 non-null object
dtypes: int64(2), object(4)
memory usage: 227.3+ KB

In [13]:
df_all.head()

,id,num_comments,subreddit,text,time_created,title
0,t3_azu6ko,495,Jokes,"One day, a wife came home early and found her ...",1552315082,A wife came home early and...
1,t3_bvxeu4,30,Jokes,One is a superhero and the other is a command.,1559482488,What's the difference between Iron Man and Iro...
2,t3_c2q2v7,20,Jokes,As the days go by he gets hornier and hornier ...,1560996486,"A guy gets lost in the desert, he has food, wa..."
3,t3_c3jq7l,9,Jokes,There once was a man named John. John has thre...,1561168425,This is the story of Nate the Snake and John.
4,t3_c617yr,137,dadjokes,It's thinly sliced cabbage,1561611223,"If you've heard of Murphy's law, which is that..."

In [14]:
#Created function to clean up the columns
def clean(column): 
    clean = []
    for c in column: 
        col = re.sub("[^a-zA-Z\'\s]", ' ', c)
        clean.append(col)
    return clean

In [15]:
#Clean up the title column
df_all['title'] = clean(df_all['title'])

In [16]:
#Clean up the text column
df_all['text'] = clean(df_all['text'])

In [17]:
#Merged title and text columns
#For most of the jokes the title is the set up and the text is the punch line
df_all['full_text'] = df_all['title'] + df_all['text']

In [18]:
#Converted the new full text columns to all lower case
df_all['full_text'] = df_all['full_text'].str.lower()

In [19]:
df_all.head()

,id,num_comments,subreddit,text,time_created,title,full_text
0,t3_azu6ko,495,Jokes,One day a wife came home early and found her ...,1552315082,A wife came home early and,a wife came home early and one day a wife c...
1,t3_bvxeu4,30,Jokes,One is a superhero and the other is a command,1559482488,What's the difference between Iron Man and Iro...,what's the difference between iron man and iro...
2,t3_c2q2v7,20,Jokes,As the days go by he gets hornier and hornier ...,1560996486,A guy gets lost in the desert he has food wa...,a guy gets lost in the desert he has food wa...
3,t3_c3jq7l,9,Jokes,There once was a man named John John has thre...,1561168425,This is the story of Nate the Snake and John,this is the story of nate the snake and john t...
4,t3_c617yr,137,dadjokes,It's thinly sliced cabbage,1561611223,If you've heard of Murphy's law which is that...,if you've heard of murphy's law which is that...

# Converted subreddit column to values

In [20]:
#Jokes = 0
#DadJokes = 1
df_all['subreddit'] = df_all['subreddit'].map({'Jokes':0,
                                     'dadjokes':1})

In [21]:
#Saved cleaned dataframe to new csv.
df_all.to_csv('../data/all_clean.csv', index=False)